%tr.virtual_host_row
  %td
    %a{:href => "/edit/#{virtual_host.id}"}= virtual_host.name
  %td= virtual_host.server_name
  %td= virtual_host.document_root
  %td= virtual_host.rails_env
  %td= virtual_host.enabled ? 'Enabled' : 'Disabled'
  %td
    %a{:href => "/delete/#{virtual_host.id}"} Delete